/**/
section.field.field-name-field-class-registration {
	border: 1px solid #cecece;
	padding: 20px;
	width: 50%;
}

section.field.field-name-field-class-registration  h2.field-label {
	margin-top: 0;
	font: 800 21px "Open Sans";
}

#block-system-main div.panel-display.sutro.clearfix.container. {
}

div#content.region {
	margin-left: 10px;
}
