.mbmbrlvl .views-field.views-field-field-price {
	margin: 1em 10px 1em 0;
	font: 800 1.17em "open sans";
	text-transform: uppercase;
	float: left;
}

.mbmbrlvl h3 {
	margin-right: 10px;
	text-transform: uppercase;
	float: left;
	clear: both;
}

a.joinbutton {
	background-color: #3a3a3a;
	color: #fff;
	font-weight: 800;
	text-transform: uppercase;
	padding: 8px;
	float: right;
	margin-top: 7px;
}

.mbmbrlvl div.views-field.views-field-body {
	clear: both;
}

a.joinbutton:hover {
	background-color: #000;
	text-decoration: none;
}

.mbmbrlvl {
	border-bottom: 1px solid #cecece;
	margin-bottom: 10px;
}