/* @override http://brma-dev.local:8080/sites/default/files/css_injector/css_injector_9.css?nbzw9t */

/* */


#breadcrumb {
	display: none;
}

a {
	color: #000
}



a:hover {
	text-decoration: none
}

#block-menu-menu-art-menu a.active-trail.active {
	color: #fff;
	background-color: #000;
	font-weight: bold;
	padding-right: 5px; 
	padding-left: 5px;
}